*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
  overflow: hidden;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
}

.test-box {
  width: 100%;
  height: 100%;
  background-color: slategray;
  border-radius: 8px;
  border: 4px solid darkgray;
}

.test-button {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
