*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1507166763745-bfe008fbb831?q=80&w=960&auto=format);
  background-size: cover;
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  /*justify-content: center;*/
  align-items: center;
}

.content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: saturate(0.5) blur(10px);
  z-index: -1;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
}

.test-box {
  width: 100%;
  height: 100%;
  background-color: slategray;
  border-radius: 8px;
  border: 4px solid darkgray;
}

.test-button {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
