:root {
  --transition-time: 0.15s;
  --bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.grid {
  flex: 0;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.25s;
}

.grid.hidden {
  opacity: 0;
  pointer-events: none;
}

.grid.hidden * {
  pointer-events: none;
}

.grid-slots {
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-slot {
  aspect-ratio: 1/1;
  width: 100%;
  min-width: 24px;
  height: 100%;
  min-height: 24px;
  padding: min(8px, 15%);
  transition: padding 0.25s;
}

@keyframes zoom-in {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-slot-inner {
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #fff4;
  border-radius: 6px;
  transition: background-color 0.25s;
  animation:
    zoom-in var(--transition-time) var(--bounce) forwards,
    fade-in var(--transition-time) var(--bounce) forwards;
}

.grid-slot:hover {
  padding: min(6px, 10%);
  transition: padding var(--transition-time);
}

.grid-slot:hover .grid-slot-inner {
  border: 2px solid #fff6;
  background-color: #fff2;
  transition: background-color var(--transition-time);
}

.grid-items {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.grid-items > * {
  pointer-events: auto;
}

.grid-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: transform var(--transition-time);
  /*opacity var(--transition-time);*/
}

.grid-item.editing > div:not(.resize) * {
  pointer-events: none;
}

.grid-item.resizing,
.grid-item.dragging {
  box-sizing: border-box;
  z-index: 1;
  opacity: 0.75;
  background-color: #fff4;
  border-radius: 8px;
}

.grid-item.resizing {
  transition:
    width var(--transition-time),
    height var(--transition-time),
    opacity var(--transition-time);
  transition-timing-function: var(--bounce);
}

.grid-item.dragging {
  transform: scale(1.05);
  transition:
    top var(--transition-time),
    left var(--transition-time),
    transform var(--transition-time),
    opacity var(--transition-time);
  transition-timing-function: var(--bounce);
}

.grid-item.deleting::after,
.grid-item.invalid::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f004;
  border-radius: 8px;
  pointer-events: none;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.grid-item.deleting {
  animation: shaking 0.25s infinite;
}

.resize {
  background-color: white;
  border-radius: 4px;
  opacity: 0.5;
  position: absolute;
  transition:
    opacity var(--transition-time),
    transform var(--transition-time);
  animation: zoom-in var(--transition-time) var(--bounce) forwards;
}

.resize:hover,
.grid-item.resizing .resize {
  opacity: 0.75;
  transform: scale(1.25);
  transition:
    opacity var(--transition-time),
    transform var(--transition-time) var(--bounce);
}

.resize-left,
.resize-right {
  width: 8px;
  height: 32px;
}

.resize-left {
  left: 8px;
}

.resize-right {
  right: 8px;
}

.resize-up,
.resize-down {
  width: 32px;
  height: 8px;
}

.resize-up {
  top: 8px;
}

.resize-down {
  bottom: 8px;
}
