.menu {
  position: absolute;
  top: calc(32px + 8px);
  right: 8px;

  display: flex;
  flex-flow: column nowrap;
  gap: 4px;

  width: min-content;
  /*max-width: max(400px, 25vw);*/
  height: calc(100% - 32px - 16px);
  padding: 8px;

  overflow-y: auto;

  opacity: 0;
  transform: translateX(calc(100% + 16px));
  transition:
    transform 0.25s ease-in,
    opacity 0.15s ease-in;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff6;
}

.menu.active {
  opacity: 1;
  transform: translateX(0%);
  transition:
    transform 0.25s ease-out,
    opacity 0.25s ease-out;
}

/* Temporary */
.menu > span {
  color: #fff8;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}

.header {
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 4px;
}

.header-tab {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: #fffc;
  padding: 4px 12px;
  transition: back;
  cursor: pointer;

  transition: 0.15s background-color;
}

.header-tab.active,
.header-tab:hover {
  color: #fffe;
  background-color: #fff2;

  transition: 0.15s background-color;
}

.menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  height: auto;
  padding: 6px;
}

.item-name {
  color: #fffa;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 8px;
}

.item-input {
  min-width: 25%;
  min-height: 18px;
  border: 1px solid #fff2;
  border-radius: 4px;
  background-color: #fff2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-input:has(input[type="text"]) {
  width: 50%;
}

.item-input:has(input[type="number"]) {
  width: 25%;
}

.item-input input {
  outline: none;
}

.item-input input[type="text"],
.item-input input[type="number"] {
  width: 100%;
  padding: 4px;
  color: #fffc;
  font-size: 1rem;

  background-color: transparent;
  border: none;
  text-align: center;
}

.item-input select {
  color: #fff;
  background-color: #fff2;
  border: 1px solid #fff2;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.item-input select option {
  background-color: rgba(60, 60, 60, 0.95);
  color: #fff;
}

.widget-list {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.widget-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  max-height: 96px !important;
  zoom: 0.75;
  cursor: pointer;

  transition:
    background-color 0.15s,
    border-color 0.15s;
}

.widget-thumb:hover {
  background-color: transparent;
  border-color: #fff4;
}

.widget-thumb > * {
  pointer-events: none;
  user-select: none;
}

.template-item {
  display: flex;
  flex-flow: column nowrap;
  height: min-content;
  /*padding: 4px;*/
  cursor: pointer;

  transition:
    background-color 0.15s,
    border-color 0.15s;
}

.template-item:hover,
.template-item.active {
  background-color: transparent;
  border-color: #fff4;
}

.template-item.active span {
  font-weight: 500;
  color: #fffc;
}

.template-header {
  display: flex;
  flex-flow: row nowrap;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.save-button {
  font-size: 0.9rem;
  margin: 0 auto;
  height: 32px;
}
