.body {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
    font-family: Inter, sans-serif;
    text-align: center;
  
    container-name: clock;
    container-type: size;
  }
  
  .clock {
    font-size: 4rem;
    font-weight: 700;
  }
  
  .date {
    font-size: 1rem;
    font-weight: 700;
  }