.body {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  gap: 4px;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.selector {
  width: 21ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #fffc;
  gap: 8px;
}

.selector-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fffc;
  padding: 2px;
  transition:
    background-color 0.15s,
    border-color 0.15s;
}

.selector-button:hover {
  background-color: #0002;
  border: 1px solid #fff2;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.8rem;
  color: #fff8;
}

.month {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day {
  background-color: #0002;
  border: 1px solid #fff2;
  border-radius: 8px;
}

.day.active {
  background-color: #0004;
}

.day.today {
  border: 1px solid #fff4;
  background-color: #fff2;
}

.day span {
  font-size: 0.8rem;
  color: #fff8;
  padding: 2px 4px;
}
