.body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  font-family: var(--app-font);
  text-align: center;

  container-name: clock;
  container-type: size;
}

.clock {
  text-wrap-mode: nowrap;
  font-size: 4rem;
  font-weight: 700;
}

.date {
  font-size: 1rem;
  font-weight: 700;
}
