.body {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
    font-family: Inter, sans-serif;
    text-align: center;
  
    container-name: box;
    
  }
  
  .box {
    font-size: 4rem;
    font-weight: 700;
  }
  
 