.body {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 4px;
}

.day {
  flex: 1 1 0;
  display: flex;
  min-width: 28px;
  height: min-content;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.temp {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.temp-min,
.temp-max {
  font-size: 0.8rem;
}

.temp-min {
  opacity: 0.75;
}
